<blockquote class="embedly-card"><h4><a href="https://www.tiktok.com/@gipsydrawing/video/7095459835424083206?is_copy_url=1&is_from_webapp=v1">Gipsydrawing on TikTok</a></h4><p>TikTok video from Gipsydrawing (@gipsydrawing): "#dibujo #samurai #manga". One Piece - Epic Battle Theme - Fierce Attack.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<blockquote class="embedly-card"><h4><a href="https://www.tiktok.com/@gipsydrawing/video/7091656363989912838?is_copy_url=1&is_from_webapp=v1">null</a></h4><p>null</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>